body {
  background:#020617;
  color:#fff;
  font-family:Arial;
  margin:0;
  padding:20px;
  text-align:center;
}

.card {
  max-width:320px;
  margin:auto;
  padding:20px;
  background:#020617;
  border-radius:10px;
  box-shadow:0 0 20px #38bdf8;
}

input, select, button {
  width:100%;
  margin:6px 0;
  padding:10px;
}

button {
  background:#38bdf8;
  border:none;
  font-weight:bold;
  cursor:pointer;
}

.fade-in {
  animation:fade 1s ease;
}

@keyframes fade {
  from {opacity:0; transform:translateY(20px);}
  to {opacity:1;}
}

#messages {
  max-width:600px;
  margin:10px auto;
  height:300px;
  overflow:auto;
  border:1px solid #38bdf8;
  padding:10px;
}